<section id="slide-1" class="homeSlide">
  <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
    <div class="hsContainer ">
      <!-- <div class="hsContent" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 h2">-->
      <div class="header container slide1">
        <div class="row">
          <div class="col-md-10 col-xs-12 col-sm-11">
            <div class="section-title1">
              <h2>Hello.</h2>
              <p>We are Stackmine, a lean workshop hell-bent on crafting Products, Experiences & Platforms. We work with big, complex organizations with tricky problems, small startups with great ideas, and everyone in between.</p>
              <p>
                <a class="arrow-down img-circle" href="#slide-2" onclick="goToSectionID('#slide-2')">arrow down</a>
              </p>
            </div>
          </div>
        </div>  
      </div>
      <!---</div> -->
    </div>
  </div>
</section>

<section id="slide-2" class="homeSlide secContent2">
  <div class="bcg" data-center="background-position: 50% 10px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-2">
    <div class="hsContainer">
      <!-- <div class="hsContent" data-center="opacity: 1" data-center-top="opacity: 0" data--100-bottom="opacity: 0;" data-anchor-target="#slide-2"> -->
        <div class="container slide2">
          <h1>What we do</h1>
          <p>We make it Work & then Better</p>  
          <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12">
              <div class="section-img"><i class="icon-tpl-galaxy"></i></div>
              <h4 class="section-content-title">Ruby &amp; Rails consulting</h4>
              <div class="content">
                Ruby gems, Restful APIs to scalable web Apps we have coded it all.
              </div>
            </div>
          <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="section-img"><i class="icon-tpl-rocket"></i></div>
            <h4 class="section-content-title">JavaScript hacking</h4>
            <div class="content">
              From Node.js to backbone.js we would like to help you understand exactly how they can solve your problems
            </div>
          </div>
          <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="section-img"><i class="icon-tpl-pen"></i></div>
            <h4 class="section-content-title">Front-end development</h4>
            <div class="content">
              Working directly with templating engines like Haml, Scss and Bootstrap, we deliver precise and responsive designs swiftly.
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>

<section id="slide-3" class="homeSlide secContent3">
  <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-3">
    <div class="hsContainer">
      <!-- <div class="hsContent" data--50-bottom="opacity: 0;" data--200-bottom="opacity: 1;" data-center="opacity: 1" data-200-top="opacity: 0" 
      data-anchor-target="#slide-3 h2"> -->
      <div class="container slide3">
        <div class="section-title">
          <h1>Our Portfolio</h1>
          <p>Below are some of the projects we have been part of</p>
        </div>
      <!--portfolio-->
        <div class="section-content">
          <div class="col-md-3 col-xs-12 col-sm-12 ">
            <div class="screenshot">
              <a id="portfolioModal1" class="portfolio img-responsive portImg"></a>
            </div>
            <div class="caption">
              <h2 class="section-content-title">
                <a>Agent Methods</a>                
              </h2>
              <p class="meta">Ruby on Rails</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-12 ">
              <div class="screenshot">
                <div>
                  <a id="portfolioModal2"></a>
                </div>
              </div>
            <div class="caption">
              <h2 class="section-content-title">
                <a>Getchute</a>               
              </h2>
              <p class="meta">Ruby, Ruby on Rails, Front end </p>
            </div>
          </div>
          <div class="col-md-3  col-xs-12 col-sm-12 ">
            <div class="screenshot">
              <div>
                <a id="portfolioModal3"></a>
              </div>
            </div>
            <div class="caption">
              <h2 class="section-content-title">
                <a>Tutonic</a>                
              </h2>
              <p class="meta">Ruby on Rails,  Front End</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-12 ">
            <div class="screenshot">
              <div>
                <a id="portfolioModal4"></a>
              </div>
            </div>
            <div class="caption">
              <h2 class="section-content-title">
                <a>Kinesis</a>                
              </h2>
              <p class="meta">Ruby on Rails, JS SDK, Front end</p>
            </div>
          </div>
          <div class="col-md-3 col-xs-12 col-sm-12 ">
             <div class="screenshot">
                <div>
                  <a id="portfolioModal5"></a>
                </div>
              </div>
              <div class="caption">
                <h2 class="section-content-title">
                  <a>Yutongo</a>                
                </h2>
                <p class="meta">Ruby on Rails, Front End</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <!-- </div> -->
  </div>
</section>

<section id="slide-4" class="homeSlide secContent4">
  <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
    <div class="hsContainer">
     <!-- <div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1"  data-anchor-target="#slide-4"> -->
        <div class="container slide4">
          <div class="section-title">
            <h1>Duet</h1>
              <p>Who We Are? Information About Us</p>
              <p class="description">When you hire us, we will work directly on your project.<br>
                Adaptable, self motivated experts that will build a process tailor made to your project needs.
              </p>
          </div>
          <div class="col-md-4 col-xs-12 col-sm-12 ">
            <div>
              <img class="img-responsive" alt="" src="http://www.gravatar.com/avatar/60731344ac21c8ac528233674abd097e.png">
            </div>
            <div class="caption">
              <h3 class="section-content-title">Bhavesh Dhupar</h3>
              <p class="meta">Front End Developer</p>
              <p>Front End developer &amp; User Interface designer. Hacking from 5+ yrs with Bachelors in Computers.</p>
                <div class="social">
                  <span class="fb1">
                    <a href="http://facebook.com/bhaveshdhupar">
                      <i class="icon-facebook-1"></i>
                    </a>
                  </span>
                  <span class="twitr1">
                    <a href="https://twitter.com/bhaveshdhupar">
                      <i class="icon-twitter-1"></i>
                    </a>
                  </span>
                </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 col-sm-12 ">
            <div>
              <img class="img-responsive" alt="" src="https://secure.gravatar.com/avatar/f02712318e131dc3ad1737978978ca66?s=80&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-80.png">
            </div>
            <div class="caption">
              <h3 class="section-content-title">Payal Gupta</h3>
              <p class="meta">Full stack developer</p>
              <p class="metadesc">@work, an awesome web developer 
              !@work, movies, dance and dream</p>
              <div class="social ">
                <span class="fb2">
                  <a href="http://facebook.com/payal9985">
                    <i class="icon-facebook-2"></i>
                  </a>
                </span> 
                <span class="twtr2">
                  <a href="https://twitter.com/Payal99">
                    <i class="icon-twitter-2"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-12 col-sm-12">
            <a onclick="goToSectionID('#team')" href="javascript:void(0);"></a>
            <div>
              <div class="section-img"><img class="img-responsive" src="assets/plus.png">
              </div>
              <div class="caption">
                <h3 class="section-content-title">
                  <a href="#slide-4">We are Hiring!</a>
                </h3>
                <p class="meta">Ruby on Rails Developer</p>
                <p>Send us your resume bd@stackmine.com. An updated linkedin profile works for us as well.</p>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  </div>
</section>
<section id="slide-5" class="homeSlide secContent5">
  <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
    <div class="hsContainer">
      <div class="container slide5">
        <div class="section-title">
          <h1>Happy Clients</h1>
        </div>
        <div class="section-content">
          <div class="col-md-6 col-sm-5 testimonial">                   
            <div><img  alt="" src="http://stackmine.com/wp-content/uploads/2012/11/Joshua_Beach_Tutonic.png">
            </div>
            <blockquote>
              <p>Payal is a exceptional developer. She has completed the work with exceptional quality and were always on time. We would definitely rehire Payal.</p>
              <small>Joshua Beach, Co-Founder &amp; Developer ,  <cite><a href="http://www.nr10.com/index.php"> Tutonic LLC</a></cite></small>
            </blockquote>
          </div>
          <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 testimonial ">
            <div><img  alt="" src="http://stackmine.com/wp-content/uploads/2013/06/tom.png">
            </div>
            <blockquote>
              <p>Bhavesh is an amazing front-end coder. His attention to detail and thoroughness are one of his most obvious talents.</p>
              <small>Thomas Tsatsos, CEO,  <cite><a href="http://tutonic.com">#10 LLC San Francisco Bay</a></cite></small>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="slide-6" class="homeSlide secContent6">
  <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
    <div class="hsContainer">
      <div class="container slide6">
        <div class="section-title">
          <h1>What can we do for you</h1>
          <p>Do you have a project you’d like us to work on with you?</p>
        </div>
        <div class="section-content row">
          <div class="contact">
            <div class="info col-md-4 col-sm-5">
              <address>
                <span class="phone">+91 999 010 5275</span><br>
                <a href="mailto:support@stackmine.com" class="mail">support@stackmine.com</a><br>
              </address>
            </div>
            <%= form_for Contact.new  do |form| %>
            <div class="contact-form col-md-6 col-md-offset-2 col-sm-9 col-sm-offset-2">
              <form class="form-inline" role="form">
                <div class="row">
                  <div class="form-group col-md-5">
                    <label class="sr-only " for="exampleInputEmail2"></label>
                    <!-- <input type="name" class="form-control field"  placeholder="Name*" autocomplete="off"> -->
                    <%= form.text_field :name, :placeholder => "name", :required => true, :class => "form-control field", :autocomplete => "off" %>
                  </div>
                  <div class="form-group col-md-5">
                    <label class="sr-only" for="exampleInputPassword2"></label>
                    <!-- <input type="email" class="form-control field"  placeholder="Email*" autocomplete="off"> -->
                    <%= form.text_field :email, :placeholder => "email", :required => true,:class => "form-control field", :autocomplete => "off", :type => "email" %>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-5">
                    <label class="sr-only" for="exampleInputEmail2"></label>
                    <!-- <input type="text" class="form-control field"  placeholder="Budget*" autocomplete="off"> -->
                    <%= form.text_field :budget,:placeholder => "budget",:class => "form-control field", :autocomplete => "off" %>
                  </div>
                  <div class="form-group col-md-5">
                    <label class="sr-only" for="exampleInputPassword2">Timeframe</label>
                    <!-- <input type="text" class="form-control field"  placeholder="Timeframe*" autocomplete="off"> -->
                    <%= form.text_field :timeframe,:placeholder => "timeframe",:class => "form-control field", :autocomplete => "off" %>
                  </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10">
                      <!-- <textarea class="form-control message" rows="4" cols="70" placeholder="Message*" autocomplete="off"></textarea> -->
                      <%= form.text_area :message, :placeholder => "message",:class =>"form-control message",:rows => "4", :cols => "70",:autocomplete => "off" %>
                    </div> 
                </div>
                <!-- <button type="button" class="btn btn-default btn col-md-4 col-md-offset-6 col-sm-offset-8 col-xs-offset-5">Everything?Send!</button> -->
                <%= form.submit "Everything?Send!", :class => "btn btn-default btn col-md-4 col-md-offset-6 col-sm-offset-8 col-xs-offset-5"  %>
                <% end %>
              </form>
            </div>
          </div>
        </div>
         <hr>
         <div class="section-footer">
           Copyright © 2012 &nbsp;
            <a title="A lean web development workshop" href="http://stackmine.com">Stackmine</a>
            <br>
            A lean web development workshop 
         </div> 
      </div> 
    </div>  
  </div>
</section>